{% extends 'layout2.html' %}

{% block head %}
<!--
<script type="text/javascript">
  $(function() {
    $(".search_button").click(function() {  
        var search_word = $("#search_box").val();
        var dataString = 'search_word='+ search_word;
        if(search_word==''){
        }else{
          
          $.ajax({
            type: "POST",
            url: "/searchdatafrns",
            data: dataString,
            cache: false,
            beforeSend: function(html) {
                document.getElementById("insert_search").innerHTML = ''; 
                $("#flash").show();
                $("#searchword").show();
                $(".searchword").html(search_word);
                $("#flash").html('<img src="/static/images/load.jpg" align="absmiddle" height="40" width="40"> Loading Results...');
              },
            success: function(html){
                $("#insert_search").show();
                $("#insert_search").append(html.data);
                $("#flash").hide();
            }
          });
        }
      return false;
    });
  });
  </script>-->

{% endblock %}
 
{% block body %}
<!-- search box-->
<!--
<div align="center">
  <div style="width:700px">
  <div style="margin-top:20px; text-align:left">
    <p align="center"><h1>Chercher fournisseur</h1></p>
    <form method="get" action="">
    <input type="text" name="search" id="search_box" class='search_box'/>
    <input type="submit" value="Search" class="search_button" /><br />
    <span style="color:#666666; font-size:14px; font-family:Arial, Helvetica, sans-serif;"><b>Ex :</b> tapez nom</span>
    </form>
  </div>   
  <div>
    <div id="searchword">Search results for <span class="searchword"></span></div>
    <div id="flash"></div>
    <div class="col-md-4">
    <div id="insert_search" class="update"></div>
    </div>
  </div>
  </div>
</div>

-->
<div class="row">
  <div class="col-md-6">
  <h1>Fournisseurs</h1>
  </div>
  <div  class="col-md-6">
    <div class="d-flex justify-content-end">
        <a href="{{ url_for('download_report_Frns') }}" class="btn btn-info">Generate CSV Report File</a>
      </div>
  </div>  
</div>
<div class="container">
  <div class="row">
  <div class="col-md-4">
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card card-body">
      <form action="{{url_for('add_fournisseur')}}" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="Id_Fournisseur" placeholder="Id Fournisseur ">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="Nom_Fournisseur" placeholder="Nom Fournisseur">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="Prenom_Fournisseur" placeholder="Prenom Fournisseur">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Adresse_Fournisseur" placeholder="Adresse Fournisseur">
          </div>
         <div class="form-group">
            <input type="text" class="form-control" name="Telephone_Fournisseur" placeholder="Telephone Fournisseur">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="Email_Fournisseur" placeholder="Email Fournisseur">
          </div>
        </br>
      </br>
    </br>
        <button class="btn btn-primary btn-block">
          Ajouter fournisseur
        </button>
      </form>
    </div>
  </div>

  <!--<ul class="list-group">-->
    {% for fournisseur in fournisseurs %}
     
   
  <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/images/fournisseur.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{fournisseur.Nom_Fournisseur}} {{fournisseur.Prenom_Fournisseur}}</h5>
                    <p class="card-text">
                        <ul>
                        <li>Adresse: {{fournisseur.Adresse_Fournisseur}} </li>
                        <li>Telephone: {{fournisseur.Telephone_Fournisseur}} </li>
                        <li>Email: {{fournisseur.Email_Fournisseur}} </li>
                        </ul></p>
                    <a href="/edit_fournisseur/{{fournisseur.Id_Fournisseur}}" class="btn btn-success">Modifier</a>
                    <a href="/delete_fournisseur/{{fournisseur.Id_Fournisseur}}" class="btn btn-danger">Supprimer</a>
                    

                    
                    </div>
                </div>
        
    </div>
    {% endfor %}

        </div>
</div>   
   
  <!--style search box-->
  <style>
    body{
    font-family:Arial, Helvetica, sans-serif;
    }
    a
    {
    color:#DF3D82;
    text-decoration:none
    }
    a:hover
    {
    color:#DF3D82;
    text-decoration:underline;
    }
    #search_box{
     padding:3px; border:solid 1px #666666; width:400px; height:45px; font-size:18px;-moz-border-radius: 6px;-webkit-border-radius: 6px;
    }
    .search_button{
     height:50px;border:#fe6f41 solid 1px; padding-left:9px;padding-right:9px;padding-top:9px;padding-bottom:9px; color:#000; font-weight:bold; font-size:16px;-moz-border-radius: 6px;-webkit-border-radius: 6px;
    }
    ol.update{
     list-style:none;font-size:1.1em; margin-top:20px;padding-left:0; 
    }
    #flash{
     margin-top:20px;
     text-align:left;
    }
    #searchword{
     text-align:left; margin-top:20px; display:none;
     font-family:Arial, Helvetica, sans-serif;
     font-size:16px;
     color:#000;
    }
    .searchword{
     font-weight:bold;
     color:#fe6f41;
    }
    ol.update li{ border-bottom:#dedede dashed 1px; text-align:left;padding-top:10px;padding-bottom:10px;}
    ol.update li:first-child{ border-top:#dedede dashed 1px; text-align:left}
    </style>
{% endblock %}