{% extends "layout2.html" %}


{% block body %}

{% if session.logged_in %}
 <div class="row">
  <div class="col-md-6">
   <h3>Produits</h3>
  </div>
  <div class="col-md-6" >
 <div class="d-flex justify-content-end">
  <a href="{{ url_for('download_report_Pdt') }}" class="btn btn-info">Generate CSV Report File</a>
</div>
  </div>
</div>

</br>
  <div class="row">
    <div class="col-md-4">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('add_produit')}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="Id_Produit" placeholder="Id Produit">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="Nom_Produit" placeholder="Nom Produit">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="Quantite" placeholder="Quantite">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="Prix" placeholder="Prix">
          </div>
          <!--<div class="form-group">
            <input type="text" class="form-control" name="Id_Categorie" placeholder="Id Categorie">
          </div>
          <div class="form-group">
        <label for="email">Country:</label>
        <select class="form-control" id="country" name="country">
            {% for row in country %}
            <option value="{{row.id}}">{{row.country}}</option>
            {% endfor %}
        </select>
    </div>
        
        -->
        <div class="form-group">
          
          <select name="Id_Categorie" data-live-search="true"   id="categorie" class="form-control" title="Selectionnez catégorie" >
            
            
            {% for c in categories %}
            <option value='{{c.Id_Categorie}}'>{{c.Nom_Categorie}}</option>
            {% endfor %}
            </select>

            
            
        </div>
          <button class="btn btn-primary btn-block">
            Save 
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <td>ID</td>
            <td>Libelle</td>
            <td>Quantité</td>
            <td>Prix</td>
            <td>Id Categorie</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
          <tr>
            <td>{{produit.Id_Produit}}</td>
            <td>{{produit.Nom_Produit}}</td>
            <td>{{produit.Quantite}}</td>
            <td>{{produit.Prix}}</td>
            <td>{{produit.Id_Categorie}}</td>
            <td width="130">
              <a href="/edit_produit/{{produit.Id_Produit}}" class="btn btn-secondary btn-sm">Modifier</a>
              <a href="/delete_produit/{{produit.Id_Produit}}" class="btn btn-danger btn-delete btn-sm">Supprimer</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% else %}
<h1>Produits</h1>
<ul class="list-group">
  {% for produit in produits %}
    <!-- il manque le design d'affichage des produits-->
    <li class="list-group-item"><a href="produit/{{produit.Id_Produit}}">Produit: {{produit.Nom_Produit}}</a> Prix: {{produit.Prix}} MAD</li>
    
    
  {% endfor %}
</ul>



{% endif %}





 
{% endblock %}